<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.notice.dao.ColleCompanyNewMapper" >

  <select id="queryYesOrNo" resultType="java.lang.String" parameterType="map">
     select id from mishu_write.`colle_company_new` where userId=#{userId} and companyId=#{comId}
  </select>
</mapper>