<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.notice.dao.RelQuaGradeMapper">


<!--通过子级code找到对应的等级-->
    <select id="queryRelQuaGrade" resultType="java.util.Map" parameterType="map">
        SELECT c.name AS quaName,
          c.code AS quaCode
        FROM `dic_common` c
        JOIN `rel_qua_grade` r
        ON c.code=r.grade_code
        WHERE r.qua_code=#{quaCode}
        order by order_no
    </select>
    <select id="queryQuaCodeGradeCode" resultType="java.util.Map" parameterType="map">
        SELECT
          id,
          qua_code AS quaCode,
          grade_code AS gradeCode
        FROM
          `rel_qua_grade`
        WHERE 1 = 1
          <if test="list != null and list.size >0">
              and
              <foreach collection="list" item="list" separator="or">
                  id=#{list}
              </foreach>
          </if>
          <if test="list == null and list.size == 0">
              and id=''
          </if>
    </select>
    <select id="queryId" resultType="java.lang.String" parameterType="map">
        SELECT id FROM `rel_qua_grade` WHERE qua_code=#{quaCode} and grade_code=#{gradeCode}
    </select>


</mapper>