<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.notice.dao.RelQuaGradeMapper">

    <!--通过子级code找到对应的等级code-->
    <select id="queryRelQuaGrade" resultType="java.lang.String">
        select grade_code AS gradeCode FROM `rel_qua_grade` WHERE qua_code=#{quaCode}
    </select>





</mapper>