<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.notice.dao.RelQuaGradeMapper">


<!--通过子级code找到对应的等级-->
    <select id="queryRelQuaGrade" resultType="java.util.Map" parameterType="map">
        SELECT c.name AS quaName,
          c.code AS quaCode
        FROM `dic_common` c
        JOIN `rel_qua_grade` r
        ON c.code=r.grade_code
        WHERE r.qua_code=#{quaCode}
    </select>



</mapper>