<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.notice.dao.TbBackListMapper">

    <!--查询所有黑名单-->
    <select id="queryBackList" resultType="java.lang.String">
        SELECT
        phone
        FROM
        tb_back_list
    </select>

    <!--查询所有黑名单-->
    <select id="queryIpBlack" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
        COUNT(*)
        FROM
        tb_back_list
        WHERE `phone` = #{ip}
    </select>
</mapper>