<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.notice.dao.TbCompanyMapper">
    <!--AS certNo
      AS certDate
      AS validDate
      AS subsist
      AS comRange
      AS collected  需要展现-->
    <!--查询符合该公告资质的企业-->
    <select id="queryQualCom" resultType="java.util.Map" parameterType="map">
        SELECT
        t.com_id AS comId,
        t.com_name AS comName,
        t.org_code AS orgCode,
        t.business_num AS businessNum,
        t.regis_address AS regisAddress,
        t.com_address AS comAddress,
        t.legal_person AS legalPerson,
        t.economic_type AS economicType,
        t.regis_capital AS regisCapital,
        t.skill_leader AS skillLeader,
        t.created,
        t.updated,
        t.logo
        FROM
        mishu.`tb_company` t
        where t.regis_address = #{regisAddress}
        <if test="rangeListMap != null and rangeListMap.size > 0">
            and (
            <foreach collection="rangeListMap" item="list" separator="or">
                t.range like CONCAT('%',#{list.id},'%')
            </foreach>
            )

        </if>
        <if test="list == null or list.size == 0">
            and t.range = null
        </if>
        order by t.px desc

    </select>
    <!--获取符合该公告资质的企业数量-->
    <select id="queryRelCompanySize" resultType="java.lang.Integer">
        select ifnull(count(0),0) from mishu.`tb_company` t
        where  t.regis_address=#{regisAddress}
        <if test="rangeListMap != null and rangeListMap.size > 0">
            and (
            <foreach collection="rangeListMap" item="list" separator="or">
                t.range like CONCAT('%',#{list.id},'%')
            </foreach>
            )

        </if>
        <if test="list == null or list.size == 0">
            and t.range = null
        </if>
    </select>

    <!--SELECT
    b.aptitude_uuid AS aptitudeUuid
    FROM
    mishu.`tb_company` a
    JOIN mishu.`tb_company_aptitude` b
    ON a.`com_id` = b.com_id
    WHERE a.com_name = #{comName}-->
    <select id="queryComNameRangeQual" resultType="java.lang.String" parameterType="map">
        SELECT
          b.aptitude_uuid AS aptitudeUuid
        FROM
          mishu.`tb_company_aptitude` b
        WHERE b.com_id=#{comId}
    </select>
    <select id="queryQualComPhone" resultType="java.lang.String">
        SELECT
          c.phone
        FROM
        <if test="source == 'hunan' or source != 'liaon' or source != 'chongq'">
            mishu.tb_company_info c
        </if>
        <if test="source != null and source != '' and source != 'hunan' and source != 'liaon' and source != 'chongq'">
            mishu.tb_company_info_${source} c
        </if>
        WHERE c.com_name=#{comName}
    </select>
    <select id="queryComId" resultType="java.lang.String" parameterType="map">
          SELECT t.com_id AS comId FROM mishu.`tb_company` t WHERE t.com_name=#{comName}
    </select>

</mapper>