<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.notice.dao.TbCommentInfoMapper" >
    <!-- update mishu.`tb_comment_info` set related_id=#{ntId} where related_id=#{id}-->
    <update id="updateRelatedId" parameterType="map">
        update mishu.`tb_comment_info` set related_id=#{relatedId} where pkid=#{pkid}
    </update>
    <update id="updateRelatedId2" parameterType="map">
        update mishu.`tb_reply_comment` set related_id=#{relatedId} where pkid=#{pkid}
    </update>
    <update id="updateCommentInfo" parameterType="map">
        update mishu_write.collec_notice set noticeId=#{snatchurlId} where id=#{collecId}
    </update>


    <select id="queryCountComment" resultType="java.lang.Integer" parameterType="map">
      select ifnull(count(0),0) from mishu.`tb_comment_info` where related_id=#{id} and source=#{source}
    </select>
    <select id="querySource" resultType="java.lang.String" parameterType="map">
        select source from mishu.`tb_comment_info` group by source
    </select>
    <select id="queryRelatedId" resultType="java.util.Map" parameterType="map">
        SELECT related_id as relatedId,pkid FROM mishu.`tb_comment_info`
    </select>
    <select id="queryRelatedId2" resultType="java.util.Map" parameterType="map">
        SELECT related_id as relatedId,pkid FROM mishu.`tb_reply_comment`
    </select>
    <select id="queryReplySource" resultType="java.lang.String" parameterType="map">
        SELECT source FROM mishu.`tb_reply_comment` GROUP BY source
    </select>
    <select id="queryCommentInfo" resultType="java.util.Map" parameterType="string">
        SELECT a.title,a.pkid AS mianPkid,b.id,c.`pkid` AS commentPkid FROM mishu.tb_reply_comment c
        JOIN biaodaa_admin.tb_nt_mian_${source} a
        ON c.`related_id`=a.`pkid`
        JOIN mishu.`snatchurl` b
        ON a.`title`=b.`title`
    </select>
    <select id="queryCommentInfo2" resultType="java.util.Map" parameterType="string">
        SELECT a.id AS snatchurlId,b.`id` AS collecId FROM mishu.snatchurl a
        JOIN mishu_write.collec_notice b
        ON a.`title`=b.`title`
    </select>

</mapper>