<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.notice.dao.TbMessageMapper">

    <!--添加消息-->
    <insert id="insert" parameterType="com.silita.notice.model.TbMessage" useGeneratedKeys="true" keyProperty="pkid">
        INSERT INTO mishu.`tb_message` (
        <if test="replyId != null and replyId != ''">
            `reply_id`,
        </if>
        <if test="userId != null and userId != ''">
            `user_id`,
        </if>
        <if test="msgTitle != null and msgTitle != ''">
            `msg_title`,
        </if>
        <if test="msgContent != null and msgContent != ''">
            `msg_content`,
        </if>
        <if test="msgType != null and msgType != ''">
            `msg_type`,
        </if>
        <if test="pushd != null">
            `pushd`,
        </if>
        <if test="isRead != null">
            `is_read`,
        </if>
        `created`
        )
        VALUES
        (
        <if test="replyId != null and replyId != ''">
            #{replyId},
        </if>
        <if test="userId != null and userId != ''">
            #{userId},
        </if>
        <if test="msgTitle != null and msgTitle != ''">
            #{msgTitle},
        </if>
        <if test="msgContent != null and msgContent != ''">
            #{msgContent},
        </if>
        <if test="msgType != null and msgType != ''">
            #{msgType},
        </if>
        <if test="pushd != null">
            #{pushd},
        </if>
        <if test="isRead != null">
            #{isRead},
        </if>
        now()
        )
    </insert>

</mapper>