<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.notice.dao.TwfDictMapper">


    <insert id="addData" parameterType="map">
        insert into twf_dict(name,code,type) values
        <foreach collection="list"  item="list" separator=",">
            (#{list.name},#{list.pinyin},#{type})
        </foreach>
    </insert>
</mapper>